@tailwind base;
@tailwind components;
@tailwind utilities;

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace !important;
  font-weight: 200 !important;
  font-style: normal;
}
  
.kantumruy-pro-light {
  font-family: "Kantumruy Pro", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200 !important;
  font-style: normal;
}

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
